{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3>Icemaker: <span class="uppercase">{{ user.username }}</h3>
    </div>
</div>
<div class="row">
    {% for flavour in flavours %}
    <div class="col-md-4 icecream-list">
        <h3 class="nixie">{{ flavour.name }}</h3>
        <div class="icecream-tub" style="background-color: {{ flavour.color }}"></div>
        
        
        <form action="" method="post">
            {% csrf_token %}
            {{ scoops_update_form.as_p }}
            <span><strong>{{ flavour.scoops_remaining }}</strong></span><span class="nixie"> scoops remaining</span>
            <br/>
            <input type="hidden" name="flavour_id" value="{{ flavour.id }}"/>
            <input type="submit" name="one" value="Single Scoop"/>
            <input type="submit" name="two" value="Double Scoop"/>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}
